@model DeviceGroupDetailsViewModel
@{
    ViewData["Title"] = localizer["Device Group Details {0}", Model.Name];
}

<h1>@localizer["Device Group Details"]</h1>

<p>@Html.ValidationMessage("DeviceGroup", new { @class = "text-danger" })</p>

<br />
@Html.DisplayFor(model => model, "Breadcrumbs", new { Controller = "DeviceGroup", ControllerText = localizer["Device Groups"], CurrentPage = localizer["Device Group Details"] })

@await Html.PartialAsync("_ManageButtons", new { Title = localizer["Device Group '{0}'", Model.Name], Name = Model.Name, Controller = "DeviceGroup" })
<br />

<hr />
@Html.DisplayForModel("DeviceGroupDetails")