@model DeviceGroup
@{
    ViewData["Title"] = "Edit Device Group " + Model?.Name;
}

<h1>Edit Device Group</h1>

<p>@Html.ValidationMessage("DeviceGroup", new { @class = "text-danger" })</p>

<br />
@Html.DisplayFor(model => model, "Breadcrumbs", new { Controller = "DeviceGroup", ControllerText = "Device Groups", CurrentPage = "Edit Device Group" })

<h4>Device Group '@(Model?.Name)'</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" readonly />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeviceUuids" class="control-label"></label>
                <select asp-for="DeviceUuids" class="form-control" asp-items="@(new SelectList(ViewBag.Devices, "Uuid", "Uuid"))">
                </select>
                <span asp-validation-for="DeviceUuids" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}