@page
@model ShowRecoveryCodesModel
@{
    ViewData["Title"] = "Recovery codes";
    ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p>
        <strong>Put these codes in a safe place.</strong>
    </p>
    <p>
        If you lose your device and don't have the recovery codes you will lose access to your account.
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        <form id="download-recovery-codes" asp-page="ShowRecoveryCodes" method="post">
            <div class="row mb-3">
                @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
                {
                    <div class="col-md-6">
                        <code class="recovery-code">@Model.RecoveryCodes[row]</code>
                    </div>
                    <div class="col-md-6">
                        <code class="recovery-code">@Model.RecoveryCodes[row + 1]</code>
                    </div>
                }
            </div>
            <input asp-for="RecoveryCodes" value="@(string.Join(';', Model.RecoveryCodes))" hidden />
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
    </div>
</div>
