@*
@using ChuckDeviceConfigurator.ViewModels
@using ChuckDeviceController.Data.Entities
@model ViewModelsModel<Instance>
*@
@{
    ViewData["Title"] = "Utilities";
}

<h1>Utilities</h1>

<button>Clear All Quests</button>