@{
    ViewData["Title"] = "Utilities";
}

<h1>Utilities</h1>

<ul>
    <li><a class="btn btn-danger" asp-action="ClearQuests">Clear Quests</a></li>
    <li><a class="btn btn-primary" asp-action="ConvertForts">Convert Forts</a></li>
    <li><a class="btn btn-danger" asp-action="ClearStalePokestops">Clear Stale Pokestops</a></li>
    <li><a class="btn btn-primary" asp-action="ReloadInstance">Reload Instance</a></li>
    <li><a class="btn btn-danger" asp-action="TruncateData">Truncate Data</a></li>
    <li><a class="btn btn-primary" asp-action="ReQuest">Re-Quest</a></li>
    <li><a class="btn btn-primary" asp-action="RouteGenerator">Route Generator/Optimizer</a></li>
</ul>