@{
    ViewData["Title"] = "Utilities";
}

<h1>Utilities</h1>

<a class="btn btn-danger" asp-action="ClearQuests">Clear Quests</a>
<a class="btn btn-primary"asp-action="ConvertForts">Convert Forts</a>
<a class="btn btn-danger"asp-action="ClearStalePokestops">Clear Stale Pokestops</a>
<a class="btn btn-primary"asp-action="ReloadInstance">Reload Instance</a>
<a class="btn btn-danger"asp-action="TruncateData">Truncate Data</a>

<ul class="list-group">
    <li class="list-group-item">Route Generator/Optimizer (leaflet map)</li>
    <li class="list-group-item">ReQuest - Select from list of assignments, assignment groups, or instances</li>
</ul>