@{
    ViewData["Title"] = "Utilities";
}

<h1>Utilities</h1>

<button class="btn btn-danger">Clear Quests</button>

<ul class="list-group">
    <li class="list-group-item">Route Generator/Optimizer (leaflet map)</li>
    <li class="list-group-item">Gym-> Pokestop | Pokestop->Gym Converters</li>
    <li class="list-group-item">Truncate Pokemon and Incident tables (at an interval and limit amount or full table?)</li>
    <li class="list-group-item">Delete Pokestops last seen x amount of hours ago (24 or something). Is this actually useful? I forgot why I added it to RDM originally.</li>
    <li class="list-group-item">Reload/Reset Instance(s) (Multi Select element)</li>
    <li class="list-group-item">ReQuest - Either Assignments Group (don't really like that idea) or Instance (better but still meh). Just not sure what.</li>
</ul>