@{
    ViewData["Title"] = "Utilities";
}

<h1>Utilities</h1>

<button class="btn btn-danger">Clear Quests</button>
<button class="btn btn-primary">Convert Forts</button>
<button class="btn btn-danger">Clear Stale Pokestops</button>
<button class="btn btn-primary">Reload Instance</button>

<ul class="list-group">
    <li class="list-group-item">Route Generator/Optimizer (leaflet map)</li>
    <li class="list-group-item">Truncate Pokemon and Incident tables (at an interval and limit amount or full table?)</li>
    <li class="list-group-item">ReQuest - Either Assignments Group (don't really like that idea) or Instance (better but still meh). Just not sure what.</li>
</ul>