@{
    ViewData["Title"] = "Utilities - Reload Instance";
}

<h1>Utilities</h1>

<p>@Html.ValidationMessage("Utilities", new { @class = "text-danger" })</p>

<h4>Reload Instance</h4>

<p>
    Reloading an instance will reset all variables, caches, stats, etc for the job controller instance as if it was just started.
</p>

<br />
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Utilities" asp-action="Index">Utilities</a></li>
        <li class="breadcrumb-item active" aria-current="page">Reload Instance</li>
    </ol>
</nav>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Utilities" asp-action="ReloadInstance">
            <div class="form-group">
                <label for="InstanceName" class="control-label">Instance</label>
                <select id="InstanceName" name="InstanceName" class="form-control" asp-items="@(new SelectList(ViewBag.Instances, "Name", "Name"))">
                    <option value="">Please select an instance</option>
                </select>
                <span validation-for="InstanceName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Reload Instance" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}