@using ChuckDeviceConfigurator.ViewModels
@model AddAccountsViewModel
@{
    ViewData["Title"] = "Import Accounts";
}

<h1>Import Accounts</h1>

<p>@Html.ValidationMessage("Account", new { @class = "text-danger" })</p>

<br />
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Account" asp-action="Index">Accounts</a></li>
        <li class="breadcrumb-item active" aria-current="page">Import Accounts</li>
    </ol>
</nav>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" min="0" max="50" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Accounts" class="control-label"></label>
                <textarea asp-for="Accounts" class="form-control" rows="10"></textarea>
                <span asp-validation-for="Accounts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group" class="control-label"></label>
                <input asp-for="Group" class="form-control" />
                <span asp-validation-for="Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}