@{
    ViewData["Title"] = localizer["About"];
}

<h1>@ViewData["Title"]</h1>
<br />
@Html.DisplayFor(model => model, "Breadcrumbs", new { CurrentPage = ViewData["Title"] })

<hr />
<p>
    This application is dedicated and in honor of a lost and fallen fellow friend and mapper named
    <a href="https://github.com/Chuckleslove" target="_blank">ChucklesLove</a> who lost his battle
    to stomach cancer on November 16, 2020.
    <br /><br />

    His GoFundMe page is <a href="https://www.gofundme.com/f/chucks-stomach-cancer-journey" target="_blank">here</a>
</p>