@using ChuckDeviceConfigurator.Views
@using ChuckDeviceConfigurator.Views.Home
@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Privacy Policy</h1>
<br />

<partial name="_CookieConsentRevokePartial" />