@using ChuckDeviceController.Data
@using ChuckDeviceController.Data.Entities;
@model Instance
@{
    ViewData["Title"] = "Edit Instance " + Model?.Name;
}

<h1>Edit Instance @Model?.Name</h1>

<p>@Html.ValidationMessage("Instance", new { @class = "text-danger" })</p>

<h4>Instance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<InstanceType>()">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col">
                        <label asp-for="MinimumLevel" class="control-label"></label>
                        <input asp-for="MinimumLevel" class="form-control" min="0" max="50" required />
                        <span asp-validation-for="MinimumLevel" class="text-danger"></span>
                    </div>
                    <div class="col">
                        <label asp-for="MaximumLevel" class="control-label"></label>
                        <input asp-for="MaximumLevel" class="form-control" min="0" max="50" required />
                        <span asp-validation-for="MaximumLevel" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Geofences" class="control-label"></label>
                <select asp-for="Geofences" class="form-control" asp-items="@(ViewBag.Geofences)">
                    <option>Please select one</option>
                </select>
                <span asp-validation-for="Geofences" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data.AccountGroup" class="control-label"></label>
                <input asp-for="Data.AccountGroup" class="form-control" maxlength="50">
                <span asp-validation-for="Data.AccountGroup" class="text-danger"></span>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" asp-for="Data.IsEvent" value="true"> Is Unique Event</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}