@model ManageApiKeyViewModel
@{
    ViewData["Title"] = "API Key Details " + Model?.Name;
}

<h1>API Key Details</h1>

<p>@Html.ValidationMessage("ApiKey", new { @class = "text-danger" })</p>

<br />
@Html.DisplayFor(model => model, "Breadcrumbs", new { Controller = "Plugin", ControllerText = "Api Keys", Fragment = "apikeys", CurrentPage = "API Key Details" })

<div>
    <h4>API Key '@Model?.Name'</h4>
    <div>
        <button class="btn btn-primary" onclick="copyToClipboard('@(Model?.Key)');">
            <i class="fa-solid fa-copy"></i>&nbsp;Copy Key
        </button>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">
            <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit
        </a>
        <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">
            <i class="fa-solid fa-trash"></i>&nbsp;Delete
        </a>
    </div>
</div>

<hr />
@Html.DisplayForModel("ApiKeyDetails")

<script src="/js/clipboard.js"></script>