@model Geofence
@{
    ViewData["Title"] = "Edit Geofence " + Model?.Name;
}

<h1>Edit Geofence</h1>

<p>@Html.ValidationMessage("Geofence", new { @class = "text-danger" })</p>

<br />
@Html.DisplayFor(model => model, "Breadcrumbs", new { Controller = "Geofence", ControllerText = "Geofences", CurrentPage = "Edit Geofence" })

<h4>Geofence '@(Model?.Name)'</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col col-5">
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" placeholder="Geofence name" readonly />
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="col col-5">
            <div class="form-floating mb-3">
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<GeofenceType>()" placeholder="Geofence type">
                </select>
                <label asp-for="Type"></label>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
        </div>
        <div class="col col-2">
            <input type="submit" value="Save" class="btn btn-primary float-end" />
        </div>
    </div>
    <div class="form-group" hidden>
        <label asp-for="Data.Area"></label>
        <textarea asp-for="Data.Area" class="form-control" rows="30"></textarea>
        <span asp-validation-for="Data.Area" class="text-danger"></span>
    </div>
</form>
<br />

@await Html.PartialAsync("_GeofenceRouteGeneratorPartial", new { MapConfig = ViewData["MapConfig"], GeofenceNames = ViewData["GeofenceNames"] })

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#Type').on('change', setGeofence);
        let type = "@Model?.Type";
        let area = ("@Model?.Data?.Area" || '').replace(/&#xD;/g, '').replace(/&#xA;/g, '\n'); // <- TODO: Fix
        if (type === 'Circle') {
            // Circles
            if (!(area.includes('[') && area.includes(']'))) {
                area = `[@Model?.Name]\n${area}`;
            }
            loadCircles(area);
        } else {
            // Geofences
            setReturnGeofenceType(true);
            loadGeofence(area, true);
        }
    </script>
}