@model ManageUserViewModel

<div class="row">
    <div class="col-sm col-lg-6">
        <div class="form-floating mb-3">
            <input asp-for="Password" type="password" class="form-control" placeholder="User account password" />
            <label asp-for="Password"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="col-sm col-lg-6">
        <div class="form-floating mb-3">
            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirmed user account password" />
            <label asp-for="ConfirmPassword"></label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
</div>