@model Device
@{
    ViewData["Title"] = "Device Details " + Model?.Uuid;
}

<h1>Device Details</h1>

<div id="restart-status"></div>

<p>@Html.ValidationMessage("Device", new { @class = "text-danger" })</p>

<br />
@Html.DisplayFor(model => model, "Breadcrumbs", new { Controller = "Device", ControllerText = "Devices", CurrentPage = "Device Details" })

<div>
    <h4>@Utils.GetDeviceStatus(Model?.LastSeen ?? 0) Device '@Model?.Uuid'</h4>
    <div>
        <a asp-action="ForceAccountSwitch" asp-route-id="@Model?.Uuid" class="btn btn-warning" onclick="return confirm('Are you sure you want to force device \'@Model?.Uuid\' to logout and switch accounts?');">
            <i class="fa-solid fa-repeat"></i>&nbsp;Switch Account
        </a>
        <a asp-action="Edit" asp-route-id="@Model?.Uuid" class="btn btn-primary">
            <i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit
        </a>
        <a asp-action="Delete" asp-route-id="@Model?.Uuid" class="btn btn-danger">
            <i class="fa-solid fa-trash"></i>&nbsp;Delete
        </a>
        <a href="#" class="btn btn-warning" onclick="restartGame('@Model?.LastHost');">
            <i class="fa-solid fa-power-off"></i>&nbsp;Restart Game
        </a>
    </div>
</div>

<hr />
@Html.DisplayForModel("DeviceDetails")

<script src="~/js/device-requests.js"></script>