@model ChuckDeviceController.Data.Entities.Device

@{
    ViewData["Title"] = "Edit Device " + Model.Uuid;
}

<h1>Edit Device</h1>

<p>@Html.ValidationMessage("Device", new { @class = "text-danger" })</p>

<h4>Device</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Uuid" />
            <div class="form-group">
                <label asp-for="InstanceName" class="control-label"></label>
                <input asp-for="InstanceName" class="form-control" />
                <span asp-validation-for="InstanceName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountUsername" class="control-label"></label>
                <input asp-for="AccountUsername" class="form-control" />
                <span asp-validation-for="AccountUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastHost" class="control-label"></label>
                <input asp-for="LastHost" class="form-control" />
                <span asp-validation-for="LastHost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastSeen" class="control-label"></label>
                <input asp-for="LastSeen" class="form-control" />
                <span asp-validation-for="LastSeen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}