.pokemon-list {
    max-height: 331px;
    overflow-x: hidden;
    overflow-y: scroll;
    border-color: white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}
div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
}
.caption {
    display: block;
}
.pokemon-selected {
    background-color: dodgerblue;
}
.pokemon-priority-list {
    max-height: 500px;
    /*max-width: 250px;*/
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}