@model ManageApiKeyViewModel

<div class="input-group">
    @Html.TextBoxFor(model => model.Key, new { type = "password", @class = "form-control", @readonly = true })
    <button id="toggle-button" class="btn btn-outline-secondary btn-sm" onclick="toggleVisibility(); return false;" data-bs-toggle="tooltip" data-bs-placement="top" title="Toggle API key visibility">
        <i id="toggle-icon" class="fa fa-fw fa-eye-slash"></i>
    </button>
    <button class="btn btn-outline-secondary btn-sm" onclick="copyToClipboard('@(Model.Key)'); return false;" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy to clipboard">
        <i class="fa fa-fw fa-copy"></i>
    </button>
</div>

<script>
    function toggleVisibility() {
        const icon = document.getElementById('toggle-icon');
        icon.classList.toggle('fa-eye');
        icon.classList.toggle('fa-eye-slash');

        const input = document.getElementById('Key');
        input.type = input.type === 'password'
            ? 'text'
            : 'password';
    }
</script>