@using Microsoft.AspNetCore.Http.Features
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show" role="alert">
        Data is tracked, sell your soul. <a asp-controller="Home" asp-action="Privacy">Learn More</a>.
        <button type="button" class="btn btn-sm accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            <span aria-hidden="true">Accept</span>
        </button>
    </div>
}

@section Scripts {
    <script>
        (function () {
            const button = document.querySelector('#cookieConsent button[data-cookie-string]');
            button.addEventListener('click', function (event) {
                document.cookie = button.dataset.cookieString;
            }, false);
        })();
    </script>
}