@using Microsoft.AspNetCore.Http.Features
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-info alert-dismissible fade show text-center cookiealert" role="alert">
        @Html.Raw(localizer["Do you like cookies? &#x1F36A; We use cookies to ensure you get the best experience on our website."]) <a asp-controller="Home" asp-action="Privacy" target="_blank">@localizer["Learn more"]</a>
        <button type="button" class="btn btn-primary btn-sm acceptcookies accept-policy close" data-dismiss="alert" aria-label="Close" data-cookie-string="@cookieString">
            @localizer["I Agree"]
        </button>
    </div>
}
<script>
    const button = document.querySelector('#cookieConsent button[data-cookie-string]');
    if (button) {
        button.addEventListener('click', (event) => {
            document.cookie = button.dataset.cookieString;
        }, false);
    }
</script>