@using Microsoft.AspNetCore.Http.Features
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showRevoke = consentFeature != null && consentFeature.IsConsentNeeded
        ? consentFeature.CanTrack
        : false;
}

@if (showRevoke)
{
    <form asp-controller="Home" asp-action="Privacy" method="post">
         <button type="submit" class="btn btn-primary btn-sm">Revoke Cookie Consent</button>
    </form>
}