<footer class="d-flex flex-wrap justify-content-between align-items-center my-4 py-3 border-top">
    <p class="col-md-4 mb-0 text-muted">&copy; 2022 - ChuckDeviceController</p>

    <div class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto">
        &#10084;&#65039;&nbsp;
        <a asp-controller="Home" asp-action="About" class="text-decoration-none text-muted">
            In loving memory of Chuckleslove, rest in peace brother
        </a>
    </div>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
            <a class="nav-link px-2 text-muted" href="https://github.com/versx/ChuckDeviceController" target="_blank">
                <i class="fa-brands fa-github"></i>
                &nbsp;GitHub
            </a>
        </li>
    </ul>

    <a asp-controller="Home" asp-action="Privacy">Privacy Policy</a> <partial name="_CookieConsentRevokePartial" />
</footer>