@{
    var geofenceNames = (IEnumerable<string>)(ViewData["GeofenceNames"] ?? new());
}

<link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />
<link rel="stylesheet" href="~/lib/leaflet-draw/leaflet.draw.css" />
<link rel="stylesheet" href="~/lib/leaflet-locatecontrol/L.Control.Locate.min.css" />
<link rel="stylesheet" href="~/lib/easy-button/easy-button.css" />

<div>
    <div class="form-group float-start">
        <div class="input-group">
            <select id="geofences" class="form-select form-select-sm">
                @foreach (var geofenceName in geofenceNames)
                {
                    <option value="@geofenceName">@geofenceName</option>
                }
            </select>
            <button type="button" class="btn btn-primary btn-sm" onclick="getGeofenceData();">
                Import Existing
            </button>
        </div>
    </div>
    <div class="form-group float-end">
        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exportModal">
            Export Geofence
        </button>
    </div>
</div>
<br />
<br />

<div id="map" style="height: 600px;"></div>

@*
  TODO: Use just one modal for import and export
*@

@await Html.PartialAsync("_ImportGeofenceRouteModalPartial", new GeofenceRouteViewModal
{
    Format = "json",
    Title = "Import Geofence",
    Geofence = "",
    FormatChangedMethod = "importFormatChanged(this);",
    SubmitButtonText = "Import",
    SubmitButtonMethod = "importGeofence();",
})

@await Html.PartialAsync("_ExportGeofenceRouteModalPartial", new GeofenceRouteViewModal
{
    Title = "Export Geofence",
    Format = "json",
    Geofence = "",
    FormatChangedMethod = "exportFormatChanged(this);",
    SubmitButtonText = "Copy to Clipboard",
    SubmitButtonMethod = "exportGeofence();",
})

<script src="~/lib/leaflet/leaflet.js"></script>
<script src="~/lib/leaflet-draw/leaflet.draw.js"></script>
<script src="~/lib/leaflet-locatecontrol/L.Control.Locate.min.js"></script>
<script src="~/lib/leaflet-geometryutil/leaflet.geometryutil.js"></script>
<script src="~/lib/easy-button/easy-button.js"></script>
<script src="~/lib/turf/turf.min.js"></script>
<script src="~/js/clipboard.js"></script>
<script src="~/js/geofence-converters.js"></script>
<script src="~/js/geofence-generator.js"></script>