{{> navbar}}

<body class="{{body_class}}">
    <br>
    <div class="alert alert-danger w-75 {{^show_error}}d-none{{/show_error}}" style="float: none; margin: 0 auto;">
        <strong>Error!</strong> {{error}}
    </div>
    {{#show_error}}<br>{{/show_error}}

    <h1 align="center">Edit Account {{name}}</h1>
    <br>
    <div class="alert w-75" style="float: none; margin: 0 auto;">
        <strong>Account Status:</strong> {{status}}
    </div>
    <br>
    <div class="w-75" style="float: none; margin: 0 auto;">
        <form action="" method="post">
            <div class="form-group">
                Username
                <input type="text" class="form-control" name="name" value="{{name}}" readonly required>
            </div>
            <div class="form-group">
                Password
                <input type="text" class="form-control" name="password" value="{{password}}" required>
            </div>
            <div class="form-group">
                Level
                <input type="number" class="form-control" name="level" value="{{level}}" step=1 min="0" max="40" required>
            </div>
            <div class="form-group">
                Group
                <input type="text" class="form-control" name="group" value="{{group}}" maxlength="50">
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
    <br>
</body>

{{> footer}}

<script>
    $(document).ready(function () {
        const status = '{{status}}';
        let classColor = 'alert-success';
        switch (status) {
            //case 'Good':
            case 'Cooldown':
            case 'Invalid':
            case 'Warning':
                classColor = 'alert-warning';
                break;
            case 'Banned':
                classColor = 'alert-danger';
                break;
        }
        $('.alert').addClass(classColor);
    });
</script>