{{> navbar}}

<body class="{{body_class}}">
    <br>
    <div class="alert alert-danger w-75 {{^show_error}}d-none{{/show_error}}" style="float: none; margin: 0 auto;">
        <strong>Error!</strong> {{error}}
    </div>
    {{#show_error}}<br>{{/show_error}}

    <h1 align="center">Assign All Devices in {{name}}!</h1>
    <br>
    <div class="w-75" style="float: none; margin: 0 auto;">
        <form action="" method="post">
            <div class="form-group">
                Select Instance
                <select class="form-control" name="instance" required>
                    <option value="" {{#nothing_selected}} selected{{/nothing_selected}} disabled hidden>Choose an Instance</option>
                    {{#each instances}}
                    <option value="{{name}}" {{#selected}} selected{{/selected}}>{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn btn-primary">Assign</button>
        </form>
    </div>
    <br>
</body>