{{> navbar}}

<script>
	$(document).ready(function() {
		const table = $('#table').DataTable( {
			"ajax": {
				"url": "/api/geofences",
				"dataSrc": "data.geofences",
                "type": "POST",
			},
			"paging":   true,
			"lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
			"columns": [
				{ "data": "name" },
                { "data": "type" },
                { "data": "count" },
				{ "data": "buttons" }
			],
			"info":     false,
			"order": [[ 0, "asc" ]],
			"search.caseInsensitive": true,
			"columnDefs": [ {
				"targets": [2],
				"orderable": false
			}],
            "responsive": true
        });
        $('#table').on('draw.dt', function () {
            setTimeout(function () {
                table.ajax.reload(null, false);
            }, 15 * 1000);
        });
	} );
</script>

<body class="{{body_class}}">
    <br>
    <h1 align="center">Configure {{title}}'s Geofences!</h1>
    <br>
    <div style="width:90%; margin-left:calc(5%);">
        <a href="/dashboard/geofence/add" role="button" style="float: right;" class="btn btn-sm btn-success">New Geofence</a>
        <br><br>
        <table id="table" class="table {{table_class}} table-striped table-bordered dt-responsive nowrap" style="position: center; width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>No. Circles/Geofences</th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <br>
</body>