{{> navbar}}

<body class="{{body_class}}">
    <h1 class="mt-3" align="center">{{title}} v{{current_version}}</h1>
    <br>
    <div class="w-75" style="float: none; margin: 0 auto;">
        <div class="card border-dark text-center">
            <div class="card-header bg-dark text-center"><b>General</b></div>
            <div class="card-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="list-group-item {{body_class}}" href="/dashboard/devices">
                                    <h3 class="pull-right"><i class="fa fa-fw fa-mobile-alt" aria-hidden="true"></i></h3>
                                    <h4 class="list-group-item-heading text-light">{{devices_count}}</h4>
                                    <p class="list-group-item-text text-light">Devices</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="list-group-item {{body_class}}" href="/dashboard/devicegroups">
                                    <h3 class="pull-right"><i class="fa fa-fw fa-mobile-alt" aria-hidden="true"></i></h3>
                                    <h4 class="list-group-item-heading text-light">{{devicegroups_count}}</h4>
                                    <p class="list-group-item-text text-light">Device Groups</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="list-group-item {{body_class}}" href="/dashboard/instances">
                                    <h3 class="pull-right"><i class="fa fa-fw fa-tasks" aria-hidden="true"></i></h3>
                                    <h4 class="list-group-item-heading text-light">{{instances_count}}</h4>
                                    <p class="list-group-item-text text-light">Instances</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="list-group-item {{body_class}}" href="/dashboard/geofences">
                                    <h3 class="pull-right"><i class="fa fa-fw fa-map-marker-alt" aria-hidden="true"></i></h3>
                                    <h4 class="list-group-item-heading text-light">{{geofences_count}}</h4>
                                    <p class="list-group-item-text text-light">Geofences</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="list-group-item {{body_class}}" href="/dashboard/assignments">
                                    <h3 class="pull-right"><i class="fa fa-fw fa-cog" aria-hidden="true"></i></h3>
                                    <h4 class="list-group-item-heading text-light">{{assignments_count}}</h4>
                                    <p class="list-group-item-text text-light">Assignments</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="list-group-item {{body_class}}" href="/dashboard/webhooks">
                                    <h3 class="pull-right"><i class="fas fa-fw fa-network-wired" aria-hidden="true"></i></h3>
                                    <h4 class="list-group-item-heading text-light">{{webhooks_count}}</h4>
                                    <p class="list-group-item-text text-light">Webhooks</p>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="list-group-item {{body_class}}" href="/dashboard/accounts">
                                    <h3 class="pull-right"><i class="fa fa-fw fa-user" aria-hidden="true"></i></h3>
                                    <h4 class="list-group-item-heading text-light">{{accounts_count}}</h4>
                                    <p class="list-group-item-text text-light">Accounts</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card border-dark text-center">
            <div class="card-header bg-dark text-center"><b>Miscellanous</b></div>
            <div class="card-body">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="btn btn-sm btn-primary" href="/dashboard/utilities">
                                    Utilities
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="btn btn-sm btn-primary" href="/dashboard/settings">
                                    Settings
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="btn btn-sm btn-primary" href="/swagger" target="_blank">
                                    Swagger API
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 p-1">
                            <div class="list-group">
                                <a class="btn btn-sm btn-primary" href="/dashboard/profiler">
                                    Profiler
                                </a>
                            </div>
                        </div>
                        <!--
                        <div class="col-lg-3">
                            <div class="list-group">
                                <button class="btn btn-sm btn-primary" href="/dashboard/settings">
                                    Settings
                                </button>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <br>
        <span class="text-center"><b>Start Time:</b> <span id="started-value">{{started}}</span></span>

    </div>
</body>

{{> footer}}