{{> header}}

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>{{title}}</h3>
            <strong>CDC</strong>
        </div>
        <ul class="list-unstyled components">
            <li class="active">
                <a href="/dashboard">
                    <i class="fas fa-fw fa-home"></i>
                    Home
                </a>
            </li>
            <li>
                <a href="#devicesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fa fa-fw fa-mobile-alt"></i>
                    Devices
                </a>
                <ul class="collapse list-unstyled" id="devicesSubmenu">
                    <li><a href="/dashboard/devices"><i class="fa fa-fw fa-mobile-alt"></i> Devices</a></li>
                    <li><a href="/dashboard/devicegroups"><i class="fa fa-fw fa-layer-group"></i> Device Groups</a></li>
                    <li><a href="/dashboard/assignments"><i class="fa fa-fw fa-cog"></i> Assignments</a></li>
                </ul>
            </li>
            <li>
                <a href="#instancesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fa fa-fw fa-tasks"></i>
                    Instances
                </a>
                <ul class="collapse list-unstyled" id="instancesSubmenu">
                    <li><a href="/dashboard/instances"><i class="fa fa-fw fa-tasks"></i> Instances</a></li>
                    <li><a href="/dashboard/geofences"><i class="fa fa-fw fa-map-marker-alt"></i> Geofences</a></li>
                </ul>
            </li>
            <li>
                <a href="/dashboard/webhooks">
                    <i class="fas fa-fw fa-network-wired"></i>
                    Webhooks
                </a>
            </li>
            <li>
                <a href="/dashboard/accounts">
                    <i class="fa fa-fw fa-user"></i>
                    Accounts
                </a>
            </li>
            <li>
                <a href="/dashboard/utilities">
                    <i class="fa fa-fw fa-toolbox"></i>
                    Utilities
                </a>
            </li>
            <li>
                <a href="/dashboard/settings">
                    <i class="fa fa-fw fas fa-ellipsis-v"></i>
                    Settings
                </a>
            </li>
            <li>
                <a href="/swagger" target="_blank">
                    <i class="fa fa-fw fas fa-file-alt"></i>
                    Swagger API
                </a>
            </li>
            <li>
                <a href="/profiler/results" target="_blank">
                    <i class="fa fa-fw fa-chart-bar"></i>
                    Profiler
                </a>
            </li>
        </ul>
    </nav>
    <!-- Page Content  -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <!--
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>
        -->

<script>
    $(document).ready(function () {
        // Get current URL path and assign 'active' class
        const pathname = window.location.pathname;
        $('#navbar > ul > li > a[href="' + pathname + '"]').parent().addClass('active');
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>