{{> header}}

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a class="navbar-brand text-center" href="/dashboard">
                <img class="align-middle" src="/static/favicons/chuck.gif" border="0" height="48">
                <div class="text-wrap">{{title}}</div>
            </a>
        </div>
        <ul class="list-unstyled components">
            <li>
                <a href="/dashboard">
                    <i class="fas fa-fw fa-home"></i>
                    Home
                </a>
            </li>
            <li>
                <a href="#devicesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fa fa-fw fa-mobile-alt"></i>
                    Devices
                </a>
                <ul class="collapse list-unstyled" id="devicesSubmenu">
                    <li><a href="/dashboard/devices"><i class="fa fa-fw fa-mobile-alt"></i> Devices</a></li>
                    <li><a href="/dashboard/devicegroups"><i class="fa fa-fw fa-layer-group"></i> Device Groups</a></li>
                    <li><a href="/dashboard/assignments"><i class="fa fa-fw fa-cog"></i> Assignments</a></li>
                </ul>
            </li>
            <li>
                <a href="#instancesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fa fa-fw fa-tasks"></i>
                    Instances
                </a>
                <ul class="collapse list-unstyled" id="instancesSubmenu">
                    <li><a href="/dashboard/instances"><i class="fa fa-fw fa-tasks"></i> Instances</a></li>
                    <li><a href="/dashboard/geofences"><i class="fa fa-fw fa-map-marker-alt"></i> Geofences</a></li>
                    <li><a href="/dashboard/ivlists"><i class="fas fa-fw fa-list"></i> IV Lists</a></li>
                </ul>
            </li>
            <li>
                <a href="/dashboard/webhooks">
                    <i class="fas fa-fw fa-network-wired"></i>
                    Webhooks
                </a>
            </li>
            <li>
                <a href="/dashboard/accounts">
                    <i class="fa fa-fw fa-user"></i>
                    Accounts
                </a>
            </li>
            <li>
                <a href="/dashboard/utilities">
                    <i class="fa fa-fw fa-toolbox"></i>
                    Utilities
                </a>
            </li>
        </ul>
        <ul class="list-unstyled components">
            <li>
                <a href="/swagger" target="_blank">
                    <i class="fa fa-fw fas fa-file-alt"></i>
                    Swagger API
                </a>
            </li>
            <li>
                <a href="/profiler/results" target="_blank">
                    <i class="fa fa-fw fa-chart-bar"></i>
                    Profiler
                </a>
            </li>
        </ul>
        {{#auth_enabled}}
        <ul class="list-unstyled components">
            {{#if username}}
            <li>
                <a href="#">
                    {{if avatar_url}}
                    <img src="{{avatar_url}}" width="24" height="24" /> 
                    {{else}}
                    <i class="fas fa-fw fa-home"></i> 
                    {{/if}}
                    {{username}}
                </a>
            </li>
            {{/if}}
            <li>
                {{#if username}}
                <a href="/discord/logout">
                    <i class="fas fa-fw fa-home"></i>
                    Logout
                </a>
                {{else}}
                <a href="/discord/login">
                    <i class="fas fa-fw fa-home"></i>
                    Login
                </a>
                {{/if}}
            </li>
        </ul>
        {{/auth_enabled}}
    </nav>
    <!-- Page Content  -->
    <div id="content">
        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <!--
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>
        -->

<script>
    $(document).ready(function () {
        // Get current URL path and assign 'active' class
        const pathname = window.location.pathname;
        $('#sidebar > ul > li > a[href="' + pathname + '"]').parent().addClass('active');
        $('#sidebar > ul > li > ul > li > a[href="' + pathname + '"]').parent().addClass('active');
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
            $(this).toggleClass('active');
        });
    });
</script>