{{> navbar}}

<body class="{{body_class}}">
    <br>
    <div class="alert alert-success w-75 {{^show_success}}d-none{{/show_success}}" style="float: none; margin: 0 auto;">
        <strong>Success!</strong> Settings have been updated.
    </div>
    {{#show_success}}<br>{{/show_success}}
    <div class="alert alert-danger w-75 {{^show_error}}d-none{{/show_error}}" style="float: none; margin: 0 auto;">
        <strong>Error!</strong> Please try again later.
    </div>
    {{#show_error}}<br>{{/show_error}}

    <h1 align="center">Configure {{title}}</h1>
    <div class="w-75" style="float: none; margin: 0 auto;">
        <form action="" method="post">
            <br>
            <div class="card">
                <div class="card-header bg-dark text-center"><b>General</b></div>
                <div class="card-body">
                    <div class="form-group">
                        Page Name
                        <input type="text" class="form-control" name="title" value="{{title}}" required disabled>
                    </div>
                    <div class="form-group">
                        Locale
                        <input type="text" class="form-control" name="locale_new" value="{{locale_new}}" required disabled>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header bg-dark text-center"><b>Pokemon</b></div>
                <div class="card-body">
                    <div class="form-group">
                        Default time left on new pokemon (in seconds)
                        <input type="number" class="form-control" name="pokemon_time_new" value="{{pokemon_time_new}}" step=1 min="60" max="3600" required disabled>
                    </div>
                    <div class="form-group">
                        Default time left on re-seen pokemon (in seconds)
                        <input type="number" class="form-control" name="pokemon_time_old" value="{{pokemon_time_old}}" step=1 min="60" max="3600" required disabled>
                    </div>
                    <div class="form-group">
                        Ditto Disguises (separated by ",")
                        <input type="text" class="form-control" name="ditto_disguises" value="{{ditto_disguises}}" disabled>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="pvp_ranks" value="pvp_ranks" {{#pvp_ranks}} checked{{/pvp_ranks}} disabled> Enable PVP Ranking</label>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header bg-dark text-center"><b>Pokestops</b></div>
                <div class="card-body">
                    <div class="form-group">
                        Lure Time
                        <input type="number" class="form-control" name="pokestop_lure_time" value="{{pokestop_lure_time}}" step=1 min="1800" max="604800" required disabled>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header bg-dark text-center"><b>Discord Authentication</b></div>
                <div class="card-body">
                    <div class="checkbox">
                        <label><input type="checkbox" name="discord_enabled" {{#discord_enabled}} checked{{/discord_enabled}}> Enabled</label>
                    </div>
                    <div class="form-group">
                        Client Id
                        <input type="text" class="form-control" name="discord_client_id" value="{{discord_client_id}}">
                    </div>
                    <div class="form-group">
                        Client Secret
                        <input type="text" class="form-control" name="discord_client_secret" value="{{discord_client_secret}}">
                    </div>
                    <div class="form-group">
                        Redirect Uri (i.e. <code>https://ipaddress:port/discord/callback</code>)
                        <input type="text" class="form-control" name="discord_redirect_uri" value="{{discord_redirect_uri}}">
                    </div>
                    <div class="form-group">
                        Allowed Users (User IDs separated by commas <code>,</code>)
                        <input type="text" class="form-control" name="discord_user_ids" value="{{discord_user_ids}}">
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header bg-dark text-center"><b>Device API</b></div>
                <div class="card-body">
                    <div class="form-group">
                        Device Endpoint Whitelist (separated by ";", empty=No Whitelist)
                        <input type="text" class="form-control" name="deviceapi_host_whitelist" value="{{deviceapi_host_whitelist}}" disabled>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" name="deviceapi_host_whitelist_uses_proxy" value="deviceapi_host_whitelist_uses_proxy" {{#deviceapi_host_whitelist_uses_proxy}} checked{{/deviceapi_host_whitelist_uses_proxy}} disabled> Device Endpoint is behind proxy (Apache/NGINX/etc.)</label>
                    </div>
                    <div class="form-group">
                        Device Endpoint Secret (empty=No Secret)
                        <input type="text" class="form-control" name="deviceapi_secret" value="{{deviceapi_secret}}" disabled>
                    </div>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header bg-dark text-center"><b>Miscellaneous</b></div>
                <div class="card-body">
                    <div class="checkbox">
                        <label><input type="checkbox" name="enable_clearing" value="enable_clearing" {{#enable_clearing}} checked{{/enable_clearing}} disabled> Enable Clearing of removed Pokestops/Gyms</label>
                    </div>
                </div>
            </div>
            <br>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>
    <br>
</body>

{{> footer}}