{{> navbar}}

<script>
    $(document).ready(function() {
        const table = $('#table').DataTable({
            "ajax": {
                "url": "/api/webhooks",
                "dataSrc": "data.webhooks",
                "type": "POST",
                "_csrf": "{{csrf}}"
            },
            //"dom": "Bfrtip",
            // Reference: https://stackoverflow.com/a/43176143
            /*
            "dom": "<'row'<'col-sm-8'B><'col-sm-4'f>t>" +
                   "<'row'<'col-sm-4'li><'col-sm-8'p>>",
            */
            "dom": "<'row'<'col-sm-12 col-md-6'B><'col-sm-12 col-md-6'f>>" +
                   "<'row'<'col-sm-12'tr>>" +
                   "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
            "fixedHeader": {
                "header": true,
                "headerOffset": $('.navbar').height()
            },
            "buttons": [
                "colvis",
                "pageLength"
            ],
            "colReorder": true,
            "stateSave": true,
            "paging": true,
            "lengthMenu": [[25, 50, 100, -1], [25, 50, 100, "All"]],
            "pageLength": 100,
            "lengthChange": false,
            "columns": [
                { "data": "name" },
                { "data": "delay" },
                { "data": "types" },
                { "data": "geofences" },
                { "data": "enabled" },
                { "data": "buttons" }
            ],
            "info":     false,
            "order": [[ 0, "asc" ]],
            "columnDefs": [ {
                "targets": [5],
                "orderable": false
            }],
            "search.caseInsensitive": true,
            "responsive": true
        });
        $('#table').on('draw.dt', function () {
            setTimeout(function () {
                table.ajax.reload(null, false);
            }, 30 * 1000);
        });
    });
</script>

<body class="{{body_class}}">
    <br>
    <h1 align="center">Configure {{title}}'s Webhooks!</h1>
    <br>
    <div style="width:90%; margin-left:calc(5%);">
        <a href="/dashboard/webhook/add" role="button" style="float: right;" class="btn btn-sm btn-success">New Webhook</a>
        <br><br>
        <table id="table" class="table  {{table_class}} table-striped table-bordered dt-responsive nowrap" style="position: center; width:100%">
            <thead>
                <tr>
                    <th class="all">Name</th>
                    <th class="min-desktop">Delay</th>
                    <th class="min-desktop">Types</th>
                    <th class="all">Geofences</th>
                    <th class="all">Enabled</th>
                    <th class="all" width="5%"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <br>
</body>

{{> footer}}