{{> navbar}}

<script>
    $(document).ready(function () {
        checkSelection($('.types-select').val());
        $('.types-select').change(function () {
            checkSelection($(this).val());
        });
        function checkSelection(value) {
            value.indexOf("Pokemon") >= 0 ?
                $('.pokemon_ids_text').removeClass('d-none') :
                $('.pokemon_ids_text').addClass('d-none');
            value.indexOf("Raids") >= 0 ?
                $('.raid_ids_text').removeClass('d-none') :
                $('.raid_ids_text').addClass('d-none');
            value.indexOf("Eggs") >= 0 ?
                $('.egg_ids_text').removeClass('d-none') :
                $('.egg_ids_text').addClass('d-none');
            value.indexOf("Lures") >= 0 ?
                $('.lure_ids_text').removeClass('d-none') :
                $('.lure_ids_text').addClass('d-none');
            value.indexOf("Invasions") >= 0 ?
                $('.invasion_ids_text').removeClass('d-none') :
                $('.invasion_ids_text').addClass('d-none');
            value.indexOf("Gyms") >= 0 ?
                $('.gym_ids_text').removeClass('d-none') :
                $('.gym_ids_text').addClass('d-none');
            value.indexOf("Weather") >= 0 ?
                $('.weather_ids_text').removeClass('d-none') :
                $('.weather_ids_text').addClass('d-none');
        }
    })
</script>

<body class="{{body_class}}">
    <br>
    <div class="alert alert-danger w-75 {{^show_error}}d-none{{/show_error}}" style="float: none; margin: 0 auto;">
        <strong>Error!</strong> {{error}}
    </div>
    {{#show_error}}<br>{{/show_error}}

    <h1 align="center">Edit Webhook "{{old_name}}"!</h1>
    <br>
    <div class="w-75" style="float: none; margin: 0 auto;">
        <form action="" method="post">
            <div class="form-group">
                Name
                <input type="text" class="form-control" name="name" value="{{name}}" required minlength="1" maxlength="30">
            </div>
            <div class="form-group">
                Url Address
                <input type="text" class="form-control" name="url" value="{{url}}" required minlength="1" maxlength="256">
            </div>
            <div class="form-group">
                Delay (Default 5 seconds)
                <input type="number" class="form-control" name="delay" value="{{delay}}" step=0.1 min="1.0" max="60.0" minlength="1" maxlength="8" placeholder="5.0" required>
            </div>
            <div class="form-group">
                Type(s)
                <select class="form-control types-select" style="height: 100px" name="types" multiple required>
                    <option value="" {{#nothing_selected}} selected{{/nothing_selected}} disabled hidden>Choose Webhook types(s)</option>
                    {{#types}}
                    <option value="{{name}}" {{#selected}} selected{{/selected}}>{{name}}</option>
                    {{/types}}
                </select>
            </div>
            <div class="form-group pokemon_ids_text {{^pokemon_selected}}d-none{{/pokemon_selected}}">
                Pokemon IDs (Blacklist, "*" for all)
                <textarea class="form-control" rows="5" name="pokemon_ids">{{{pokemon_ids}}}</textarea>
            </div>
            <div class="form-group raid_ids_text {{^raids_selected}}d-none{{/raids_selected}}">
                Raid Pokemon IDs (Blacklist, "*" for all)
                <textarea class="form-control" rows="5" name="raid_ids">{{{raid_ids}}}</textarea>
            </div>
            <div class="form-group egg_ids_text {{^eggs_selected}}d-none{{/eggs_selected}}">
                Egg Levels (Blacklist, "*" for all)
                <textarea class="form-control" rows="5" name="egg_ids">{{{egg_ids}}}</textarea>
            </div>
            <div class="form-group lure_ids_text {{^lures_selected}}d-none{{/lures_selected}}">
                Lure Module IDs (Blacklist, "*" for all)
                <textarea class="form-control" rows="5" name="lure_ids">{{{lure_ids}}}</textarea>
            </div>
            <div class="form-group invasion_ids_text {{^invasions_selected}}d-none{{/invasions_selected}}">
                Team Rocket Invasion Grunt Type IDs (Blacklist, "*" for all)
                <textarea class="form-control" rows="5" name="invasion_ids">{{{invasion_ids}}}</textarea>
            </div>
            <div class="form-group gym_ids_text {{^gyms_selected}}d-none{{/gyms_selected}}">
                Gym Team IDs (Blacklist, "*" for all)
                <textarea class="form-control" rows="5" name="gym_ids">{{{gym_ids}}}</textarea>
            </div>
            <div class="form-group weather_ids_text {{^weather_selected}}d-none{{/weather_selected}}">
                Weather IDs (Blacklist, "*" for all)
                <textarea class="form-control" rows="5" name="weather_ids">{{{weather_ids}}}</textarea>
            </div>
            <div class="form-group">
                Select Scan Area (Empty Includes Everything)
                <select class="form-control" name="geofence" required>
                    <option value="all" {{#nothing_selected}}selected{{/nothing_selected}}>Any Area</option>
                    {{#each geofences}}
                    <option value="{{name}}" class="{{type}}" {{#selected}}selected{{/selected}}>{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="enabled" {{enabled}}>
                <label class="form-check-label" for="enabled">Enable Webhook</label>
            </div>
            <br>
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
        <br>
        <form action="" method="post" onsubmit="return confirm('Are you sure that you want to delete the webhook {{old_name}}?');">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="hidden" name="delete" value="true">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
    <br>
</body>

{{> footer}}